# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Dados e modelos grandes/sensíveis
# data/processed/*.csv
# models/*.joblib
# models/*.pkl

# Resultados gerados
resultados_validacao.csv
resultado_teste_final.csv
predicoes_amostra.csv
*.log

# Sistema
.DS_Store
Thumbs.db
